  
/*---------------------*\
     FONT FAMILIES  
\* --------------------*/ 
/*
font-family: 'Fira Sans', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Permanent Marker', cursive;
font-family: 'PT Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
color on hover- color of the cards on hover - #16243E- to use on the font 
*/
  
body {
    background-color: rgb(191, 238, 255);
    color: #16243E; 
    max-width: 1440px;
    width: 100%;
    font-size: 18px;
}

h1 {
  font-family: 'Permanent Marker', sans-serif;
  font-size: 1.8rem;
  margin: 4% 0% 0%;
}

h2, h3, h4 {
  font-size: 2rem;
  font-family: 'Permanent Marker', sans-serif;
  margin: 0;
}

h5 {
  font-size: 2rem;
  font-family: 'Fira Sans', sans-serif;
}

p{
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

.container {
    background-color: aliceblue;
    width: 90%;
    height: 90%;
    border: 4px solid #16243E;
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    padding: 5% 10%;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
  
.portrait {
  height: 250px;
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.infofp1, .infofp2 {
  display: flex;
  flex-direction: column;
}

.infofp1 {
  width: 60%;
}

.infofp2 {
  width: 40%;
}

.linksGL {
  display: flex;
  gap: 20px;
  text-decoration: none;
}

.icons {
  color: #16243E;
}

.icons:hover {
  color:#16243E;
  opacity: 0.5;
  transform: scale(1.1);
  transition: .3s;
}

.fa-brands, .netlify {
  color: #16243E;
}

.fa-brands:hover, .netlify:hover {
  color:#16243E;
  opacity: 0.5;
}

.projects{
  display: flex;
  justify-content: center;
  margin: 5% 0%;
}

