  
/*---------------------*\
     FONT FAMILIES  
\* --------------------*/ 
/*
font-family: 'Fira Sans', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Permanent Marker', cursive;
font-family: 'PT Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
color on hover- color of the cards on hover - #16243E- to use on the font 
*/


  
body {
    background-color: rgb(191, 238, 255);
    color: #16243E; 

}

h1 {
  font-family: 'Permanent Marker', cursive;
}

h2, h3, h4 {
  font-size: 200%;
  font-family: 'Permanent Marker', cursive;
}

h5 {
  font-size: 200%;
  font-family: 'Fira Sans', sans-serif;
}


p{
  font-size: large;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

.container {
    background-color: aliceblue;
    width: 90%;
    height: 90%;
    border: 4px solid #16243E;
    border-radius: 10px;
    margin: 5%;
    display:flex;
  } 

.portrait {
    display: flex;
    width:fit-content;
    height: fit-content;
    width: 30%;
   /*padding: 20px 100px;*/
    border-radius: 50%;
}

.AnaCas{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

  .myName{
    font-size: 300%;
  }

  .myName, .feu, .learner, .description {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

  .infofp1, .infofp2{
    display: flex;
    flex-direction: column;
    margin: 5%;
    justify-content: center;
  }


.fa-brands, .netlify {
  margin: 0 20px;
  color: #16243E;

  
}

.fa-brands:hover, .netlify:hover {
  color:#16243E;
  opacity: 0.5;
}

/*
font-size:3em;
transition: 1s ease-out;*/


.linksGL{
  display:flex; 
  justify-content: center;
  align-items: center;
}

.projects{
  display: flex;
  justify-content: center;
  font-size: 150%;
}

