  
/*---------------------*\
     FONT FAMILIES  
\* --------------------*/ 
/*
font-family: 'Fira Sans', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Permanent Marker', cursive;
font-family: 'PT Sans', sans-serif;
font-family: 'Work Sans', sans-serif;*/
  
body {
    font-family: 'Permanent Marker', cursive;
}
  
  .container {
    width: 90%;
    height: 90%;
    border: 4px solid black;
    margin: 5%;
    display:flex;
  } 

  .portraitFP, .pc {
    display: flex;
    width:fit-content;
    height: fit-content;
    width: 20%;
    height: 20%;
    max-width: 50%;
    max-height: 50%;
    padding: 20px 100px;
    border-radius: 50%;
    max-width: 100%;
}

/*
.AnaCas{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
  }*/

  .myName{
    font-size: 300%;
  }

  /*
  .feu {
    display: flex;
    justify-content: center;
    align-items: center;
}*/

  .infofp{
    background-color: aqua;
    display: flex;
    flex-direction: column;
    margin: 5%;
    flex-basis: 75%;
    
  }

.halvLionLeft {  
    background-color: blueviolet; 
    display:flex; 
    flex-direction: column;
    margin-left: auto;
    flex-basis: 25%;
}

.lion2left{
  object-fit: cover;
}

.fa-brands{
  padding: 0 5%;
}



/*---------------------*\
   MEDIA QUERIES MOBILE
\* --------------------*/ 

@media screen and (min-width: 0px) and (max-width: 767px) {
    .Container {
        flex-wrap: wrap;

    }    

    .portraitFP, .pc {
        flex-wrap: wrap;
        max-width: 40%;
        
    }
    
    h, p {
      font-size: 20%;
    }

}


/*---------------------*\
   MEDIA QUERIES IPAD
\* --------------------*/ 

@media screen and (min-width: 768px) and (max-width: 1180px) {
    .Container {
        flex-wrap: wrap;
    }    

    .portraitFP, .pc {
        flex-wrap: wrap;
        max-width: 40%;
        
    }
    
  
}


/*---------------------*\
   MEDIA QUERIES DESKTOP
\* --------------------*/ 

@media screen and (min-width: 1180px){
.Container {
    flex-wrap: wrap;
}    

.portraitFP, .pc {
    flex-wrap: wrap;
    max-width: 40%;
    
}

}